@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: yekan;
        src: url(./asset/font/Yekan.ttf);
    }
}

* {
    font-family: yekan;
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    background-color: #232a3b;
}




@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.expired,
.oneH {
    position: relative;
    z-index: 0;
    overflow: hidden;
}


.expired::before,
.oneH::before,
.expired::after,
.oneH::after {
    content: '';
    position: absolute;
    z-index: -99;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    animation: rotate 6s linear infinite;
}

.oneH::before,
.oneH::after {
    background-image: linear-gradient(#fbb300, #fbb300)
}

.expired::before,
.expired::after {
    background-image: linear-gradient(#d53e33, #d53e33);

}


.expired::after,
.oneH::after {
    animation-delay: -3s;
}

.child {
    position: absolute;
    z-index: 2;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 5px;
}


.swal2-popup {
    background-color: #2B3856;
    color: #fff;
}



.swal2-confirm:focus,
.swal2-cancel:focus {
    box-shadow: none !important;
    /* outline: none !important; */
}